body{
    margin: 0px;
    background-color:#e5ecec; 

}
.cabecalho{
    height:100px;
    padding: 5px;
    background-color:#414046; 
    /* border-bottom: 3px solid #76FF03; */
}
.cabecalho h1{
    color: #76FF03;
    font-size: 50px;
    margin: 22px;
}
article{
    margin: 10px 5%;
    padding: 15px;
    /*text-align: center;*/
    background-color:white; 
    border-bottom: 3px solid  #76FF03;
}
article.conmebol{
    border-bottom: 3px solid rgb(199, 196, 42);

}
article.uefa{
    border-bottom: 3px solid rgb(13, 180, 231);
}
p{
    text-align: justify;
}
article img{
    width: 50%;
    margin: auto 25%;
}
article h2{
    font-size: 35px;
    text-align: center;
}
article h3{
    text-align: center;
}

article svg{
    display:block;
    margin: auto;
}
article video{
    display: block;
    margin: auto;
}
article audio{
    width: 800px;
    display: block;
    margin: auto;
}
.nav-bar{
    background-color: #5e5c68;
    height: 30px;
    padding: 5px;
}
.nav-bar a{
    display: inline-block;
    padding: 5px;
    color: #76FF03;
    text-decoration: none;
    
}
form{
    padding: 5px;
    background-color: #e8e6f3;
    overflow: auto;
}
input{
    margin:5px;
}
input.umero{
    background-color: #76FF03;
}
.formulario{
    padding: 5px;
    float: left;
}
